

// navigation
// <nav>
// <ul>
//   <li><a href="#"></a>Animal Network</li>
//     <li><a href="#"></a>9:00-5:00</li>
//       <li><a href="#">Dogs for Adoption</a></li>
//     <li><a href="#">Cats for Adoption</a></li>
//     <li><a href="#">Donate</a></li>
//     <li><a href="#">About Us</a></li>
// </ul>
// </nav>

nav{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    // border: dotted white;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: @nav-background-color;
    overflow-y: hidden;
    padding-top: 20px;
    


    .header-nav-wrapper{

            padding-bottom: 15px;
            padding-left: 5px;
            padding-right: 5px;

        img{
            height: 160px;
            width: 160px;
            
        }

        a{
            color: white;
            font-size: 13px;
            font-family: 'Bad Script', cursive;
            font-weight: 400;
            text-decoration: none;
            letter-spacing: 3px;
        }
        
    }
   
.main-nav-wrapper{
    text-transform: uppercase;
    line-height: 1.4;
    background-color: rgb(29, 27, 27);
    height: 100%;
    
   

    .time{
        color: rgb(78, 75, 75);
        font-size: 13px;
        letter-spacing: 1.5px;
        line-height: 0.7;
        font-weight: 550;
        
        
    }
   
    
    li{
        display: flex;
        justify-content: center;
        padding: 40px;


        &:first-child{
            background-color: white;
            height: 10px;
            border: 1px solid black;
            padding: 25px;
            
            }

    }

    a{
        font-family: brandon_grotesquebold,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font: 16px/1.625em radley,Helvetica,Helvetica Neue,Arial;
        font-size: 12px;
        text-decoration: none;
        color:#d2d2d2;
        font-weight: 400;
        letter-spacing: 1.5px;
       
    }
    
} //end nav wrapper
   
}