

// navigation
// <nav>
// <ul>
//   <li><a href="#"></a>Animal Network</li>
//     <li><a href="#"></a>9:00-5:00</li>
//       <li><a href="#">Dogs for Adoption</a></li>
//     <li><a href="#">Cats for Adoption</a></li>
//     <li><a href="#">Donate</a></li>
//     <li><a href="#">About Us</a></li>
// </ul>
// </nav>

nav{
    font-weight: 400;
    // border: dotted white;
    height: 100%;
    width: 135px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: @nav-background-color;
    overflow-y: hidden;
    padding-top: 20px;


    .header-nav-wrapper{


       
        border: 1px dotted white;

        img{
            height: 200px;
            
        }
       

        a{
            color: white;
            padding: 10px;
            font-size: 13px;
            font-family: 'Bad Script', cursive;
            font-weight: 560;
            text-decoration: none;
        }
        
    }
   

.main-nav-wrapper{
    text-transform: uppercase;
    line-height: 1.4;
    background-color: #666;
 

    .time{
        color: black;
    }
   
    
    li{
        display: flex;
        justify-content: center;
        padding: 20px;


    }

    a{
        

        font-family: brandon_grotesquebold,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font: 16px/1.625em radley,Helvetica,Helvetica Neue,Arial;
        font-size: 12px;
        text-decoration: none;
        color:#d2d2d2;
        font-weight: 400;
       
    }
    
} //end nav wrapper
   
}